/*
// 리액트 프로젝트 최초 생성 시 기본으로 제공되는 CSS
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면 전체 높이를 최소 높이로 설정 */
}

.main-content {
  flex: 1; /* 헤더와 푸터를 제외한 나머지 공간을 모두 차지하도록 설정 */
}


